extends layout
block content
	
	section.about_us
		.about_us__text.AreaA
			p.about_us.fontParagraph.
				Habitant les bauges depuis l’enfance, je suis étonnée et heureuse du dynamisme de la région depuis quelques années. Associations, artisans, producteurs respectueux de l’environnement, passionnés de nature, les bauges fourmillent de nouvelles initiatives qui font le bonheur de ses habitants comme des touristes.
			p.about_us.fontParagraph.
				Le bouche à bouche étant leur principale source de communication, certaines adresses ne sont pourtant pas connues des personnes des passages, des nouveaux venus ou même parfois des habitants de toujours qui n’ont pas eu vent des derniers bons plans des bauges !
			p.about_us.fontParagraph.
				J’ai donc souhaité par ce blog apporter ma contribution au développement de cette vallée que j’affectionne tant en mettant en valeur ceux qui y vivent et produisent de façon responsable pour notre bonheur.
		img.about_us.AreaB(src="/img/alvaro-benavides.jpg")
	

block scripts
	