header.grid_header
	a.header_title.Area__brand.fontBrand(href="/")
			| EL GRITO del Tue Tue
	nav.Grid__nav.header__nav
		a.fontNav(href="/")="Inicio"
		a.fontNav(href='/el-autor') El Autor
		a.fontNav(href='mailto:alvarodigi@gmail.com') Contacto
		