include mixins

head
	+head()
	script.
		var initialState = JSON.parse(`!{JSON.stringify(initialState||{})}`)
	block head
		title!=(metaTitle&&metaTitle+" - "+metaTitlePrefix)||metaTitlePrefix
	block headLinks
	//+googleAnalytics()
body
	//analytics here
	#app
		.app_upper
			block header
				include header.pug
			block content
		block footer
			+footer()
	+commonScripts()
	block scripts